name: ROS Noetic CI

on: [push]

jobs:
  build:
    runs-on: ubuntu-20.04 # ROS Noetic is best supported on Ubuntu 20.04

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Setup ROS Noetic
      run: |
        sudo sh -c 'echo "deb http://packages.ros.org/ros/ubuntu $(lsb_release -sc) main" > /etc/apt/sources.list.d/ros-latest.list'
        sudo apt-key adv --keyserver 'hkp://keyserver.ubuntu.com:80' --recv-key C1CF6E31E6BADE8868B172B4F42ED6FBAB17C654
        sudo apt-get update
        sudo apt-get install ros-noetic-desktop-full python3-rosdep python3-rosinstall python3-rosinstall-generator python3-wstool build-essential
        sudo rosdep init
        rosdep update
        source /opt/ros/noetic/setup.bash


    - name: Setup ROS workspace
      run: |
        source /opt/ros/noetic/setup.bash
        mkdir -p ~/ros_ws/src
        cp -R $(pwd)/* ~/ros_ws/src/
        cd ~/ros_ws
        rosdep install --from-paths src --ignore-src -r -y
        catkin_make

    - name: Run tests
      run: |
        source /opt/ros/noetic/setup.bash
        cd ~/ros_ws
        source devel/setup.bash
        catkin_make run_tests
        catkin_test_results
